.modgit/
.svn/
.git-*/
.gitignore-*
.htaccess*
README.MD-*
GIT_*
api.php
media/*
app/code/community/Find/
app/code/community/Phoenix/
app/code/community/AW/
app/code/core/
app/code/community/
app/design/adminhtml/default/default/layout/*
app/design/adminhtml/default/default/template/*
app/design/adminhtml/default/default/locale/*
app/design/adminhtml/default/find/
app/design/adminhtml/default/clever/
app/design/frontend/base/
app/design/frontend/bootstrap/
app/design/frontend/default/blank/
app/design/frontend/default/clever/
app/design/frontend/default/default/layout/*
app/design/frontend/default/default/template/*
app/design/frontend/default/default/etc/*
app/design/frontend/default/default/locale/*
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default/layout/*
app/design/frontend/enterprise/default/template/*
app/design/frontend/enterprise/default/etc/*
app/design/frontend/enterprise/default/locale/*
app/design/frontend/pro/default/layout/*
app/design/frontend/pro/default/template/*
app/design/frontend/pro/default/etc/*
app/design/frontend/pro/default/locale/*
app/design/install/
app/etc/modules/*
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/.htaccess
app/locale/
app/Mage.php
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/blank.html
js/aw_all/
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/recaptcha/recaptchalib-aw.php
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
mage
media/catalog/
media/customer/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
nbproject/
pear
pear/
php.ini.sample
pkginfo/
pristine/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
skin/adminhtml/default/default/*
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/